@use "../styles" as *;

.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 1px solid var(--c-border-primary);
	height: $footerHeight;
}

.container {
	@extend .full;
	display: flex;
	justify-content: center;
}

.content {
	margin-top: $xs;
	font-size: $smFont;
}