@use "../styles" as *;

.header {
	display: flex;
	align-items: center;
	height: $headerHeight;
	border-bottom: 1px solid var(--c-border-primary);
	background-color: var(--c-background-primary);
	padding: 0 $md;
}

.headerContent {
	display: flex;
	align-items: center;
	& > a {
		display: none;
	}
}

.headerNavigation {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}

.headerNavigationLinks {
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		font-weight: 700;
		font-size: $lgFont;
		color: var(--c-text-primary);
		padding: $sm;
		transition: color var(--t-fast);

		&:hover {
			color: var(--c-primary-light);
		}

		& + * {
			margin-left: $sm;
		}
	}
}