@use '../styles' as *;

$legendWidth: 350px;

.fullGraph {
    width: 100%;
    height: 75vh;
    display: flex;
}

.graph {
    width: calc(100% - $legendWidth);
    max-height: 75vh;
    background-color: var(--c-background-light);
    border: 1px solid var(--c-border-light);
    border-radius: $md;
}

.legend {
    width: $legendWidth;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 0 8px;
}

@media (max-width: 1080px) {
    .fullGraph {
        flex-direction: column;
        height: fit-content;
    }

    .graph {
        width: 100%;
        aspect-ratio: 1;
    }

    .legend {
        width: 100%;
    }
    .legendList {
        width: 100%;
        column-count: 2; /* Split the list into two columns */
        -webkit-column-width: 200px;
        -moz-column-width: 200px;
        column-width: 50%;
        display: block;
    }

}

.sigmaGraph {
    width: 100%;
    height: 100%;
    position: relative;
}

[class*='sigma-container'] {
    height: 100%;
    width: 100%;
}

.legendKey {
    display: flex;
    align-items: center;
    width: 100%;

    > span {
        text-align: left;
        margin-left: 0;
        margin-right: 8px;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}

.legendSmall {
    font-size: $smFont;
    padding-left: 0.25em;
    margin-bottom: 0.25em;
}