:root {
	--c-text-primary: #333;
	--c-text-action: #636363;

	--c-primary-bright: rgb(252, 114, 114);
	--c-primary-light: rgb(228, 67, 67);
	--c-primary: rgb(196, 36, 36);
	--c-primary-dark: rgb(169, 34, 34);

	--c-background-primary: #F5F5F5;
	--c-border-primary: #eee;

	--t-fast: 0.25s ease;
	--t-mid: 0.5s ease;
	--t-slow: 1s ease;
}