@use 'sass:color';

//$primary: #b7a387;
$primary: #66ad8f;

:root {
    --c-text-primary: #333;
    --c-text-action: #636363;
    --c-text-light: rgb(245, 245, 245);

    --c-primary-fade: #{color.scale($primary, $lightness: 50%)};
    --c-primary-light: #{color.scale($primary, $lightness: 10%)};
    --c-primary: #{$primary};
    --c-primary-dark: #{color.scale($primary, $lightness: -25%)};

    --c-background-light: #f8f8f8;
    --c-background: #f0f0f0;
    --c-background-dark: #272727;
    --c-border-light: rgb(226, 226, 226);
    --c-border-dark: #272727;

    --t-fast: 0.25s ease;
    --t-mid: 0.5s ease;
    --t-slow: 1s ease;
}
