@use '../' as *;

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.015em;
}

h1 {
    margin: $sm 0;
    margin-top: $xl;
    font-size: 32px;
}

h2 {
    margin: $sm 0;
    margin-top: $xl;
    font-size: 24px;
}

h3 {
    margin: $xs 0;
    margin-top: $xl;
    font-size: 20px;
}

p {
    margin-top: $md;
    margin-bottom: $md;
    line-height: 2em;
}

// Links
a {
    text-decoration: none;
    color: var(--c-primary);
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

// Tables
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    line-height: normal;
    text-align: left;
    border: 1px solid var(--c-border-light);
    border-radius: $sm;
    margin-bottom: 96px;
}

th {
    padding: $sm;
    border-bottom: 1px solid var(--c-border-light);
}

td {
    padding: $xs;
}

tr:nth-child(even) {
    background-color: var(--c-background-light);
}
